<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${visitor} ? ${visitor} + ', I hope you are interested to hire me' : 'This is my CV'"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Curriculum Vitae Irvanno Taqi Irmawan</h1>
<p>Jakarta, 12 Desember 1996</p>
<p>SD Al-Azhar 2</p>
<p>SMP Al-Azhar 2</p>
<p>SMA Al-Azhar 2</p>
<p>Universitas Indonesia</p>
<p>I am irvanno, i like to code and watch anime and read manga.</p>
</body>
</html>
